<%= form_for @vitamin do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :video_code %><br />
    <%= f.text_field :video_code %>
  </p>
  
  <% if @featured_vitamin %>
    <p>El video destacado actual es <%= @featured_vitamin.name %></p>
  <% end %>
  
  <p>
    <%= f.check_box :featured %>  <%= f.label :featured %>
  </p>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit %></p>
<% end %>
