<% title "Vitamins" %>

<% if @featured_vitamin %>
  <h1>Video Destacado</h1>
  <h3><%= @featured_vitamin.name %></h3>
  <%= raw @featured_vitamin.small_embed_code %>
<% end %>


<h1>Otros Videos</h1>

<div class="vitamins">
  <% for vitamin in @vitamins %>
    
    <div class="youtube">
      
      <h3><%= link_to vitamin.name, vitamin %></h3>
      
      <span class="url"><%= vitamin.video_url %></span>
      <%= link_to vitamin.name, vitamin, :class => "video" %>
    </div>
    
  <% end %>
  
  <%= clear %>
</div>


<p><%= link_to "New Vitamin", new_vitamin_path %></p>
