<% title "Vitamina L" %>

<% if @featured_vitamin %>
  <h1>Video Destacado</h1>
  <h2><%= @featured_vitamin.name %></h2>
  <%= raw @featured_vitamin.small_embed_code %>
  <%= clear %>
  <%= link_to "Ver comentarios del video", vitamin_path(@featured_vitamin, :anchor => "comments"), :class => "lright" %>
<% end %>


<h2>Otros Videos</h2>

<div class="vitamins">
  <% for vitamin in @vitamins %>
    
    <div class="youtube">
      
      <h2><%= link_to vitamin.name, vitamin %></h2>
      
      <span class="url"><%= vitamin.video_url %></span>
      <%= link_to vitamin.name, vitamin, :class => "video" %>
    </div>
    
  <% end %>
  
  <%= clear %>
</div>


<% if can? :create, Vitamin %>
  <p><%= link_to "Agregar video", new_vitamin_path %></p>
<% end %>
