<% title "Vitamin" %>

<h1><%= @vitamin.name %></h1>

<%= raw @vitamin.embed_code %>

<p>
  <%= link_to "Edit", edit_vitamin_path(@vitamin) %> |
  <%= link_to "Destroy", @vitamin, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", vitamins_path %>
</p>
