<% title "Vitamin" %>

<h1><%= @vitamin.name %></h1>

<%= raw @vitamin.embed_code %>

<%= clear %>

<%= render :partial => "comments/list_and_form", :locals => {:commentable => @vitamin} %>

<p>
  <%= link_to "Editar", edit_vitamin_path(@vitamin) %> |
  <%= link_to "Eliminar", @vitamin, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Volver a Vitamina L", vitamins_path %>
</p>
