<div class="comment" id="comment-<%= comment.id %>">
  <div class="comment-info left">
    <p><%= link_to image_tag(comment.user.avatar.url(:comment)), comment.user%></p>
  </div>
  
  <div class="comment-body">
    <p>
      <%= link_to comment.user.name, comment.user %> <br />
      <strong class="small">Hace <%= time_ago_in_words(comment.created_at) %></strong>
    </p>
    <%= comment.comment %>
  </div>
  <%= clear %>
</div>
<%= clear %>