<% title @forum_category.name %>

<div class="actions">
  <% if can? :edit, @forum_category %>
    <%= link_to "Editar categoría", edit_forum_category_path(@forum_category) %>  | 
  <% end %>
  
  <% if can? :create, ForumThread %>
  <%= link_to "Crear hilo de discusión", new_forum_category_forum_thread_path(@forum_category) %>  | 
  <% end %>
  
  <% if can? :destroy, @forum_category %>
  <%= link_to "Eliminar categoría", @forum_category, :confirm => '¿Está seguro?', :method => :delete %> | 
  <% end %>
  
  <% if can? :index, ForumCategory %>
    <%= link_to "Volver al club de lectores", forum_categories_path %>
  <% end %>
</div>

<%= render @forum_category.forum_threads  %>
