<%= form_for @banner, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :photo %> <br />
    <%= f.file_field :photo %>
  </p>
  
  <p>
    <%= f.label :description %> <br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :link %> <br />
    <%= f.text_field :link, :size => 50 %> <br />
    <span>Se abre en una nueva ventana? </span><%= f.check_box :new_window %>
    
  </p>
  
  <p><%= f.submit %></p>
<% end %>
