<div class = "user-form">
<%= form_for @user, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  
<div class = "left">
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 40 %>
  </p>
  
  <p>
    <%= f.label :login %> <br />
    <%= f.text_field :login, :size => 50 %>
  </p>
  
  <p>
    <%= f.label :password %> <br />
    <%= f.password_field :password, :size => 50 %>
  </p> 
  
  <p>
    <%= f.label :login %> <br />
    <%= f.text_field :login, :size => 50 %>
  </p>
  
  <p>
    <%= f.label "Ocupación" %><br />
    <%= f.text_field :ocupation, :size => 50 %>
  </p>
  <p>
    <%= f.label "Edad" %><br />
    <%= f.text_field :age, :size => 30 %>
  </p>
</div>

<div class = "rleft">
   <p>
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </p>

  <p>
    <%= f.label :email %> <br />
    <%= f.text_field :email, :size => 50 %>
  </p>
   <p>
	    <%= f.label :password_confirmation %> <br />
	    <%= f.password_field :password_confirmation, :size => 50 %>
	</p>
  
  <p>
    <%= f.label "Libro Actual" %><br />
    <%= f.text_field :actual_book, :size => 50 %>
  </p>
  
  <p>
    <%= f.label "Sitio Web" %><br />
    <%= f.text_field :webpage, :size => 50 %>
  </p>

	<p>
    <%= f.label "Sexo" %><br />
    <%= f.text_field :sex, :size => 30 %>
  </p>

 </div>

<%= clear %>

	<p>
    <%= f.label :hobbies %><br />
    <%= f.text_area :hobbies, :size => "60x10" %>
  </p>

  <p><%= f.submit %></p>
<% end %>
</div>