<% title @user.name %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <%= image_tag @user.avatar.url(:small) %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>
<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>
<p>
  <strong>Ocupation:</strong>
  <%= @user.ocupation %>
</p>
<p>
  <strong>Hobbies:</strong>
  <%= @user.hobbies %>
</p>
<p>
  <strong>Actual Book:</strong>
  <%= @user.actual_book %>
</p>


<%= clear %>

<h2>Comentarios</h2>
<% if @user.comments.any? %>
  <%= render @user.comments %>
<% else %>
  <%= raw("<p>Podrías ser el primero en comentar!</p>") if current_user %>
<% end %>

<%= clear %>

<%= render :partial => "comments/small_create", :locals => {:commentable => @user} %>


<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
