<div id="sidebar">
  
  <div class = "quoted-title" id="login-title">
    <% if current_user %>
      <%= current_user.name %>
    <% else %>
      Acceso usuarios
    <% end %>
  </div>
  
  <div id="perfil" style="width: 90%">
    <% if current_user %>
      <%= render :partial => "users/small", :object => current_user, :as => :user %>
      
    <% else %>
      <%= render :partial => "user_sessions/small" %>
    <% end %>

    <%= clear %>
  </div>

  <div class = "quoted-title" id="login-title">Libros que...</div>
  <div id ="libros-que">
    <ul>
      <li>Espero</li>
      <li>Deseo</li>
      <li>Tengo</li>
      <li>Truequeados</li>
    </ul>
  </div>
  <div class = "quoted-title" id="login-title">Mis lectores</div>
  <%= clear %>
</div>
<%= clear %>