<% title "Archivo de Páginas" %>

<% if can? :create, Page %>
<div class="actions">
  <%= link_to "Crear página", new_page_path %>
</div>
<% end %>

<table width="90%">
  <tr>
    <th>Nombre</th>
    <th>Enlace Permanente</th>
    <th>Fecha Creación</th>
    <th>Última Actualización</th>
  </tr>
  <% for page in @pages %>
    <tr align="center">
      <td><%= link_to page.name, page %></td>
      <td><%= page_url(page) %></td>
      <td><%= I18n.l page.created_at %></td>
      <td><%= l page.updated_at %></td>
    </tr>
  <% end %>
</table>
