<div class="book-big">
  <div class="left">
    <%= modal_to book_image(book, :thumb), book_path(book, :format => "modal") %>
    <%#= link_to image_tag(book.photo.url(:thumb)), book %>
  </div>
  <div class="rleft">
    <div class="book-section">
      <span><%= link_to book.title, book %></span> <br />
      <%=  book.author_names %>
    </div>

    <div class="book-section">
      <h3>Nombre del usuario dueño</h3>
      <%= link_to book.user.name_or_login, book.user %>
    </div>
    
    <div class="book-section">
      <h3>Estado del libro</h3>
      <%= book.health_status %>%
    </div>
    
    <%= link_to "Iniciar Trueque", pre_accept_trade_path(trade), :class => "button" %> <span>&nbsp; &nbsp; &nbsp;</span>
    <%= link_to "Ignorar Trueque", ignore_trade_path(trade), :class => "button", :method => :post %>
    
  </div>
  <%= clear %>
</div>
<%= clear %>