<% title @book.title %>

<div class="actions">
  <% if can? :edit, @book %>
    <%= link_to "Editar libro", edit_book_path %>
  <% end %>
  
  <% if can? :destroy, @book %>
    | <%= link_to "Eliminar libro", @book, :confirm => '¿Está seguro?', :method => :delete %> | 
  <% end %>
  
  <% if can? :index, Book %>
    <%= link_to "Ver todos los libros", books_path %>
  <% end %>
</div>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<% if @book.traded? %>
  <p>Este libro fue truequiado con <%= link_to @book.traded_with.name, @book.traded_with %></p>
<% elsif current_user && current_user.id != @book.user_id %>
  <p>
    Este libro está disponible! Puedes <%= link_to "pedir un trueque", trades_path(:book_id => @book.id), :method => :post  %>
  </p>
<% end %>


<p>
  <strong>Synopsis:</strong>
  <%= @book.synopsis %>
</p>
<p>
  <strong>Published Date:</strong>
  <%= @book.published_date %>
</p>
<p>
  <strong>Editorial:</strong>
  <%= @book.editorial %>
</p>
<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>
<p>
  <strong>User:</strong>
  <%= @book.user_id %>
</p>
<p>
  <strong>Health Status:</strong>
  <%= @book.health_status %>
</p>
<p>
  <strong>Health Description:</strong>
  <%= @book.health_description %>
</p>

<%= clear %>

<%= render :partial => "comments/list_and_form", :locals => {:commentable => @book} %>


