<% title "Libro #{@book.title}" %>

<div class="actions">
  <% if can? :edit, @book %>
    <%= link_to "Editar libro", edit_book_path(@book) %>
  <% end %>
  
  <% if can? :destroy, @book %>
    | <%= link_to "Eliminar libro", @book, :confirm => '¿Está seguro?', :method => :delete %> | 
  <% end %>
  
  <% if can? :index, Book %>
    <%= link_to "Ver todos los libros", books_path %>
  <% end %>
</div>




<div class="left">
  <%= book_image(@book, :big, "big-cover") %>
  <%= render :partial => "books/trade_button", :locals => {:book => @book} %>    
</div>



<div class="rleft" id="book-info">
  
  <div class="book-section">
    <h3>Título del libro</h3>
    <span><%= @book.title %></span>
  </div>
  
  <div class="book-section">
    <h3>Autor</h3>
    <span><%= @book.author_names %></span>
  </div>
  
  <div class="book-section">
    <h3>Editorial</h3>
    <span><%= @book.editorial %></span>
  </div>
  
  <div class="book-section">
    <h3>ISBN</h3>
    <span><%= @book.isbn %></span>
  </div>
  
  <div class="book-section">
    <h3>Año de Publicación</h3>
    <span><%= @book.published_date %></span>
  </div>
  
  <div class="book-section">
    <h3>Palabras claves</h3>
    <%= tag_links(@book) %>
  </div>
  
  <div class="book-section">
    <h3>Sinópsis</h3>
    <%= simple_format @book.synopsis %>
  </div>
  
  <div class="book-section">
    <h3>Estado físico del libro</h3>
    <span><%= @book.health_status %>%</span>
  </div>
  
  
  <div class="book-section">
    <h3>Estado físico del libro. Comentarios</h3>
    <%= @book.health_description %>
  </div>
  
  
  <p>
  <% if !@book.traded? && can?(:trade, @book) && current_user.id != @book.user_id%>
    <%= trade_link(@book) if @book.user != current_user %>
  <% end %>
  <%= link_to "Volver a la lista", books_path, :class => "button" %>
  </p>
</div>

<%= clear %>

<%= render :partial => "comments/list_and_form", :locals => {:commentable => @book} %>


