<% title @book.title %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<% if current_user && @book.user != current_user %>
  <p>Este libro se encuentra <%= raw state_message(@book) %></p>
  <% if @book.traded? %>
    <p>Este libro fue truequiado con <%= @book.traded_with.name %></p>
  <% else %>
    <p>
      Este libro está disponible! Puedes <%= link_to "pedir un trueque", trades_path(:book_id => @book.id), :method => :post  %>
    </p>
  <% end %>
  
<% end %>

<p>
  <strong>Synopsis:</strong>
  <%= @book.synopsis %>
</p>
<p>
  <strong>Published Date:</strong>
  <%= @book.published_date %>
</p>
<p>
  <strong>Editorial:</strong>
  <%= @book.editorial %>
</p>
<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>
<p>
  <strong>User:</strong>
  <%= @book.user_id %>
</p>
<p>
  <strong>Health Status:</strong>
  <%= @book.health_status %>
</p>
<p>
  <strong>Health Description:</strong>
  <%= @book.health_description %>
</p>

<%= clear %>

<h2>Comentarios</h2>
<% if @book.comments.any? %>
  <%= render @book.comments %>
<% else %>
  <%= raw("<p>Podrías ser el primero en comentar!</p>") if current_user %>
<% end %>

<%= clear %>

<%= render :partial => "comments/small_create", :locals => {:commentable => @book} %>

<p>
  <%= link_to "Edit", edit_book_path(@book) %> |
  <%= link_to "Destroy", @book, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", books_path %>
</p>
