<h1>Vista previa de <%= @book.title %></h1>

<div class="book-modal">
  <div class="left">
    <%= image_tag @book.photo.url(:thumb) %> <br />
    <% if @book.traded? %>
      <p>
        Libro no disponible.
      </p>
    <% elsif current_user && current_user.id != @book.user_id %>
      <p>
        <%= trade_link(@book) %>
      </p>
    <% end %>
    
  </div>
  
  <div class="rleft info">
    <h3>Autor</h3>
    <p>
      <%= @book.isbn %>
    </p>
    
    
    <h3>Sinopsis</h3>
    <p>
      <%= @book.synopsis %>
    </p>
    
    
    <h3>Estado físico del libro</h3>
    <p>
      <%= @book.health_status %>%
    </p>
  </div>
  
  <%= clear %>
  
  <%= link_to "Ver más información", @book, :class => "modal-view-more" %>
</div>