<%= nested_form_for @survey do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :question %><br />
    <%= f.text_field :question, :size => 70 %>
  </p>

  <h3>Opciones de la Encuesta</h3>
  
  <% for option in @survey.options do %>
    <%= f.fields_for :options, option do |option_form| %>
      <p>
        <%= option_form.text_field :option, :size => 40 %>
        <%= option_form.link_to_remove "Eliminar opción" %>
      </p>
    <% end %>
  <% end %>
  
  <p>
    <%= f.link_to_add "Agregar Opción", :options %>
  </p>
  
  <p>
    <%= f.label :featured_at, "Encuenta activa desde" %><br />
    <%= f.date_select :featured_at %>
  </p>

  <p><%= f.submit %></p>
<% end %>
