<% title "Página Principal", false %>

<% content_for :subheader do %>
<div id="sub-header">
  <% if @banners.any? %>
    <div id="slider">
      <% for banner in @banners %>
        <%= link_to_or_default image_tag(banner.photo.url), banner %>
      <% end %>
    </div>
  <% end %>

  <div id="login" class="right">
    <div class = "quoted-title login-title">
      <% if current_user %>
      <%= current_user.name || "Bienvenido" %>
      <% else %>
      Acceso usuarios
      <% end %>
    </div>

    <div id = "login-dashboard">
      <% if current_user %>
      <%= render :partial => "users/small", :object => current_user, :as => :user %>
      <%= clear %>
      <% else %>
      <div id="login_form_home">
        <%= form_for UserSession.new do |f| %>
        <p>
          <%= f.label :usuario %><br />
          <%= f.text_field :login, :size => 33 %>
        </p>
        <p>
          <%= f.label :contraseña %><br />
          <%= f.password_field :password, :size => 33 %>
        </p>
        <p><%= f.submit :"Ingresar", :class => "btn" %></p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div> <!-- End of login div -->
  <%= clear %>
</div> <!-- End of sub-header div -->
<% end %>  <!-- END OF SUB-HEADER -->


<% content_for :sidebar do %>
<div id="sidebar">
  
  <% if current_user %>
    <%= render @current_survey if @current_survey %>
  <% else %>
    <%= render :partial => "surveys/survey_for_guest", :locals => {:survey => @current_survey} if @current_survey %>
  <% end %>
  
  


  <div id="vertical-banner">
    <%= image_tag "layout/sidebarbanner2.jpg" %>
  </div>

</div> <!-- End of sidebar div -->
<% end %>  <!-- END OF SIDEBAR -->



<div class="left">
  <div id="latest-books">
    <h1>Últimos libros</h1>
    <div class="books">
      <% for book in @latest_books %>
        <%= render :partial => "books/book_small", :locals => {:book_small => book} %>
      <% end %>
    </div>
  </div>

  <%= clear %>

  <div id="best-books">
    <h1>Libros de La Esquina del Trueque</h1>
    <div class="books">
      <% for book in @best_books %>
      <%= render :partial => "books/book_small", :locals => {:book_small => book} %>
      <% end %>
    </div>
  </div>
</div>