<% title("Página Principal") %>

<% content_for :subheader do %>
<div id="sub-header">
  <div id="slider">
    <% for banner in @banners %>
    <%= link_to_or_default image_tag(banner.photo.url), banner %>
    <% end %>
  </div>

  <div id="login" class="right">
    <div class = "quoted-title" id="login-title">
      <% if current_user %>
		<%= current_user.name %>
      <% else %>
        Acceso usuarios
      <% end %>
    </div>

    <div id = "login-dashboard">
      <% if current_user %>
        <div class="left">
          <%= image_tag current_user.avatar.url(:small) %>
        </div>
        
        <div class="leftr">
          <ul>
            <li><%= link_to "Ver mi perfil completo", current_user %></li>
            <li><%= link_to "Ir a mis libros", user_books_path(current_user) %></li>
			<li><%= link_to "Cerrar sesión", logout_path %></li>
          </ul>
          
        </div>
        
        
        <%= clear %>
      <% else %>
        <%= render :partial => "user_sessions/small" %>
      <% end %>
    </div>
  </div> <!-- End of login div -->
  <%= clear %>
</div> <!-- End of sub-header div -->
<% end %>  <!-- END OF SUB-HEADER -->


<% content_for :sidebar do %>
<div id="sidebar">
  <div id="current-poll">
    <div class = "quoted-title" id="login-title">
      Encuesta
    </div>
    <div id="question">
      ¿Cuál es su género preferido?
    </div>
    <div id="results">
      <ul class="options" style="list-style: none; padding: 0; margin: 5px 0 5px;">
        <li><%= radio_button_tag :drama, "Drama" %> Drama</li>
        <li><%= radio_button_tag :drama, "Drama" %> Comedia</li>
        <li><%= radio_button_tag :drama, "Drama" %> Crímen</li>
        <li><%= radio_button_tag :drama, "Drama" %> Acción</li>
      </ul>
      <%= submit_tag "Votar", :class => "btn" %>
    </div>
  </div> <!-- End of current-poll div -->
  
  <div id="vertical-banner">
    <%= image_tag "layout/sidebarbanner2.jpg" %>
  </div>
  
</div> <!-- End of sidebar div -->
<% end %>  <!-- END OF SIDEBAR -->



<div class="left">
  <div id="latest-books">
    <h1>Últimos libros</h1>
    <div class="books">
    <% for book in @latest_books %>
      <%= render :partial => "books/book_small", :locals => {:book_small => book} %>
    <% end %>
    </div>
  </div>
  
  <%= clear %>
  
  <div id="best-books">
    <h1>Libros destacados</h1>
    <div class="books">
    <% for book in @best_books %>
      <%= render :partial => "books/book_small", :locals => {:book_small => book} %>
    <% end %>
    </div>
  </div>
</div>


























