<%= form_for UserSession.new do |f| %>
  <p>
    <%= f.label :usuario %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :contraseña %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit :"Ingresar", :class => "btn" %></p>
<% end %>