<% title "Ingreso a la comunidad" %>

<%= form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :login, "Nombre de usuario" %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password, "Contraseña" %><br />
    <%= f.text_field :password %>
  </p>
  <p><%= f.submit "Ingresar" %></p>
<% end %>


