<% title "Trades" %>

<table>
  <tr>
    <th>Libro a cambiar</th>
    <th>Usuario</th>
  </tr>
  <% for trade in @trades %>
    <tr>
      <td><%= trade.book2.name %></td>
      <td><%= trade.initiator.name %></td>
      <td><%= link_to "Aceptar", pre_accept_trade_path(trade) %></td>
      <td><%= link_to "Ignorar", ignore_trade_path(trade), :method => :post %></td>
      
    </tr>
  <% end %>
</table>

<p><%= link_to "New Trade", new_trade_path %></p>
