<% title "Trueque Pactado" %>

<div id="trade-info">
  <div class="left" id="given-book">
    <div class="left">
      <%= book_image(@trade.book1, :thumb) %>
    </div>
    
    <div class="rleft trade-book-info">
      <h2><%= @trade.book1.title %></h2>
      <p>
        <%= @trade.book1.author_names %>
      </p>
      <div class="user">
        <%= link_to @trade.user1.name_or_login, @trade.user1 %>
      </div>
    </div>
  </div>
  
  
  <div class="right" id="received-book">
    <div class="left"><%= book_image(@trade.book2, :thumb) %></div>
    <div class="rleft trade-book-info">
      <h2><%= @trade.book2.title %></h2>
      <p>
        <%= @trade.book2.author_names %>
      </p>
      <div class="user">
        <%= link_to @trade.user2.name_or_login, @trade.user2 %>
      </div>
    </div>
  </div>
  
  <%= clear %>
  
  <div id="grade">
    <h2>Califica este trueque</h2>
    
    <p>
      La calificación de los truques es vital para el funcionamiento de la comunidad. Así, las personas podrán saber si el usuario con el que están realizando el trueque es confiable o no. <br />
      Tu voto <strong>NO</strong> podrá ser cambiado.
    </p>
    
    <p>
      La calificación de este trueque es de <%= @trade.score %>. <br />
      <%= other_users_score(@trade) %>
    </p>
    
    <%= render "grades/trade", :trade => @trade %>

  </div>
  
</div>
<%= clear %>

<div>
  
</div>

<%= render "comments/list_and_form", :commentable => @trade %>
