<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Trueque" %></title>
  <%= stylesheet_link_tag "jquery.ui", "nivo.slider", "application", :cache => true %>
  <%= javascript_include_tag 'jquery.min','jquery.ui.min', 'autocomplete-rails','jquery.tools.min','jquery.nivo.slider', 'rails', 'application', :cache => true %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
  <div id="container">





    <div id= "header">
      <div id="logo">
        <%= link_to "E Truque - Biblioteca Universidad EAFIT", root_url %>
      </div>
      <div id= "search">
		 
      </div>
    </div> <!-- End of header div -->

    <div id= "nav-menu">
      <ul>
        <li><%= link_to "Inicio", root_path %></li>
		<li class ="separator">|</li>
        <li><%= link_to "El Trueque", "#" %></li>
		<li class ="separator">|</li>
        <li><%= link_to "Vitamina L", "#" %></li>
        <li class ="separator">|</li>
		<li><%= link_to "Club de Lectores", "#" %></li>
        <li class ="separator">|</li>
		<li><%= link_to "Quienes Somos","#" %></li>
        <li class ="separator">|</li>
		<li><%= link_to "Contacto", "#" %></li>
      </ul>
      <%= clear %>
    </div> <!-- End of nav-menu div -->

    <% if  content_for?(:subheader) %>
    <%= yield(:subheader) %>
    <% end %>

    <div class="left">
      <% if  content_for?(:sidebar) %>
      <%= yield(:sidebar) %>
      <% else %>
      <%= render :partial => "shared/sidebar" %>
      <% end %>
      <%= clear %>
    </div>

    <div id="main-content">
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert" %>
      <% end %>
      <%= yield %>
      <%= clear %>
    </div>

    <%= clear %>

    <div id="footer">
      <div class="left section" id="interesting-links">
        <h3>Enlaces de interés</h3>
        <p><%= link_to "Universidad EAFIT", "http://www.eafit.edu.co", :target => "_blank"%></p>
        <p><%= link_to "Biblioteca EAFIT", "http://www.eafit.edu.co", :target => "_blank"%></p>
        <p><%= link_to "Red de Bibliotecas", "http://www.eafit.edu.co", :target => "_blank"%></p>
      </div>

      <div class="left section" id="footer-logos">
        <h3>Con el apoyo de</h3>
        <div class="eafit_icons">
          <%= link_to image_tag("layout/eafit.png"), "http://www.eafit.edu.co", :target => "_blank" %>
          <%= link_to image_tag("layout/biblio1.png"), "http://www.twitter.com", :target => "_blank"%>

        </div>
      </div>

      <div class="left section" id="get-social">
        <h3>Encuéntranos en</h3>
        <div class="footer_icons">
          <%= link_to image_tag("layout/facebook.png"), "http://www.facebook.com", :target => "_blank" %>
          <%= link_to image_tag("layout/twitter.png"), "http://www.twitter.com", :target => "_blank"%>
          <%= link_to image_tag("layout/wordpress.png"), "http://www.wordpress.com", :target => "_blank"%>
          <%= link_to image_tag("layout/youtube.png"), "http://www.youtube.com", :target => "_blank"%>
          <%= link_to image_tag("layout/rss.png"), "#" %>

        </div>
      </div>
    </div>
    <%= clear %>
  </div>
  <%= clear %>




  <div class="overlay" id="overlay">
    <div class="contentWrap"></div>
  </div>
</body>
</html>
