<!DOCTYPE html>
<html>
<head>
  <title>
    <%= "#{yield(:title)} | Trueque Literario EAFIT" %>
  </title>
  <%= stylesheet_link_tag "jquery.ui", "nivo.slider", "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
  
  <%= render "shared/google_analytics" %>
  
</head>
<body>
  
  <% if current_user %>
    <% if current_user.pending_trades.any? %>
      <div class="notifications">
        
        
        Tienes <%= link_to pluralize(current_user.pending_trades.size, "trueque pendiente", "trueques pendientes"), trades_path  %>
        
        <a href="#" class="hide-not">ocultar</a>
      </div>
    <% end %>
  <% end %>
  
  <div id="container">





    <div id= "header">
      <div id="logo">
        <%= link_to "E Truque - Biblioteca Universidad EAFIT", root_url %>
      </div>
      <div id= "search">
		 
      </div>
    </div> <!-- End of header div -->

    <div id= "nav-menu">
      <ul>
        <li><%= link_to "Inicio", root_path %></li>
		<li class ="separator">|</li>
        <li><%= link_to "El Trueque", books_path %></li>
		<li class ="separator">|</li>
        <li><%= link_to "Vitamina L", vitamins_path %></li>
        <li class ="separator">|</li>
		<li><%= link_to "Club de Lectores", "#" %></li>
        <li class ="separator">|</li>
		<li><%= link_to "Quienes Somos", static_path("quienes-somos") %></li>
        <li class ="separator">|</li>
		<li><%= link_to "Contacto", "#" %></li>
      </ul>
      <%= clear %>
    </div> <!-- End of nav-menu div -->

    <% if  content_for?(:subheader) %>
    <%= yield(:subheader) %>
    <% end %>

    <div class="left sidebar">
      <% if  content_for?(:sidebar) %>
      <%= yield(:sidebar) %>
      <% else %>
      <%= render :partial => "shared/sidebar" %>
      <% end %>
      <%= clear %>
    </div>
    <!-- End of sidebar -->

    <div id="main-content">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert" %>
      <% end %>
      <%= clear %>
      <%= yield %>
      <%= clear %>
    </div>
    <!-- End of main-content -->
    <%= clear %>
    <div id="footer">
      <div class="left section" id="interesting-links">
        <h3>Enlaces de interés</h3>
        <p><%= link_to "Universidad EAFIT", "http://www.eafit.edu.co", :target => "_blank"%></p>
        <p><%= link_to "Biblioteca EAFIT", "http://www.eafit.edu.co", :target => "_blank"%></p>
        <p><%= link_to "Red de Bibliotecas", "http://www.eafit.edu.co", :target => "_blank"%></p>
      </div>

      <div class="left section" id="footer-logos">
        <h3>Con el apoyo de</h3>
        <div class="eafit_icons">
          <%= link_to image_tag("layout/eafit.png"), "http://www.eafit.edu.co", :target => "_blank" %>
          <%= link_to image_tag("layout/biblio1.png"), "http://www.twitter.com", :target => "_blank"%>

        </div>
      </div>

      <div class="left section" id="get-social">
        <h3>Encuéntranos en</h3>
        <div class="footer_icons">
          <%= link_to image_tag("layout/facebook.png"), "http://www.facebook.com", :target => "_blank" %>
          <%= link_to image_tag("layout/twitter.png"), "http://www.twitter.com", :target => "_blank"%>
          <%= link_to image_tag("layout/wordpress.png"), "http://www.wordpress.com", :target => "_blank"%>
          <%= link_to image_tag("layout/youtube.png"), "http://www.youtube.com/user/medialabeafit?feature=mhum", :target => "_blank"%>
          <%= link_to image_tag("layout/rss.png"), "#" %>

        </div>
      </div>
    </div>
    <!-- End of footer -->
    <%= clear %>
  </div>
  <!-- End of container -->
  <%= clear %>



  <div class="overlay" id="overlay">
    <div class="contentWrap"></div>
  </div>
  
  <!-- Powered by Zinergia -->
  
</body>
</html>
