<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Trueque" %></title>
    <%= stylesheet_link_tag "jquery.ui", "application", :cache => true %>
    <%= javascript_include_tag 'jquery.min','jquery.ui.min', 'autocomplete-rails','jquery.tools.min','swfobject.js', 'jquery.ytchromeless.min.js', 'rails', 'application', :cache => true %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
	
		<% flash.each do |name, msg| %>
	        <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert" %>
	      <% end %>

	      <%= content_tag :h1, yield(:title) if show_title? %>
	
     	  <%= clear %>
	
	<div id= "header">
		<div id="logo">
		  <%= link_to "E Truque - Universidad EAFIT", root_url %>
		</div>
		<div id= "search">
			
		</div>
	</div>
	<div id= "nav-menu">
		<ul>
			<li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "El Trueque", "#" %></li>
			<li><%= link_to "Vitamina L", "#" %></li>
			<li><%= link_to "Club de Lectores", "#" %></li>
			<li><%= link_to "Quienes Somos","#" %></li>
			<li><%= link_to "Contacto", "#" %></li>
		</ul>
		<%= clear %>
	</div>
	
	<div id="slider">
	 <%= image_tag ("/images/layout/banner1.jpg") %>
	</div>
	
	<div id="login">
		
	</div>
      
      <%= clear %>
      <%= yield %>
      <%= clear %>
    </div>
    
    
    <div class="overlay" id="overlay">
    	<div class="contentWrap"></div>
    </div>
  </body>
</html>
